@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: #000;
}
li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  background: #ffffff9f;
  margin: 0 auto;
  
}

.navbar {
  background-color: rgba(252, 253, 221, 0.933);
  box-shadow: 10px 10px 10px rgb(22, 11, 11);
  width: 100%;
  height: 100px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.nav-item {
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  display: block;
}
.nav-item a {
  padding: 10px 20px;
  background-color: black;
  color: white;
  margin-left: 15px;

  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;

  font-weight: 500;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25),
    inset 1px 1px 3px rgba(0, 0, 0, 0.35),
    inset -1px -1px 3px rgba(0, 0, 0, 0.5);
  font-size: clamp(0.7em, 1vw, 3.2em);
  outline: none;
  display: flex;
}

.nav-item a:active {
  box-shadow: none;
  transition: box-shadow 0.2s;
}

.nav-item a:hover {
  background-color: white;
  color: black;
}
.backToTop{
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: black;
  
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25),
    inset 1px 1px 3px rgba(0, 0, 0, 0.35),
    inset -1px -1px 3px rgba(0, 0, 0, 0.5);
  font-size: clamp(0.7em, 1vw, 3.2em);
  outline: none;
  display: flex;
}
.backToTop a{
  color: white;
  font-weight: bold;
}


.container{
  background-color:black;
}
.introText{
  max-width: 100%;
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}
.introText h1{
  font-size: 4rem;
  font-weight: bold;
}
.introText h3{
  font-size: 2rem;
}
.introText .name{
  display: none;
}
.introText .fullname{
  display: block;
  font-size: 3rem;
}
#titleChange{
  color: white;
  font-size: 3rem;
  font-weight: bold;
}

.socials {
  margin-top: 20px;
}
.socials a {
  color: #fff;
  font-size: 2rem;
  margin-right: 10px;
}
.about {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.about h1 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
  margin-top: 30px;
}
.aboutMe {
  max-width: 100%;
  width: 80%;
  margin: 0 auto;
}
.aboutMe p {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.5rem;
}
.aboutMe span {
  font-weight: bold;
  font-style: italic;
}
.aboutMe button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25),
    inset 1px 1px 3px rgba(0, 0, 0, 0.35),
    inset -1px -1px 3px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  margin-left: 45%;
}
.aboutMe button:hover {
  background-color: white;
  color: black;
}
.skills {
  max-width: 100%;
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 15px;
}
.skills h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
  margin-top: 30px;
}
.contentSkill {
  display: flex;
  justify-content: space-around;
  align-items: top;
}
.skills-container h2 {
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 5px solid #000;
}
.skill-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.skill-item i {
  font-size: 2rem;
  color: #00bcd4;
}
.skill-item h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 15px;
}
.education {
  max-width: 100%;
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 15px;
}
.education h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: center;
  margin-top: 30px;
}
.educationMain {
  display: flex;
  justify-content: space-around;
  align-items: top;
}
.education-item {
  margin: 20px 0;
}
.education-item h2 {
  font-size: 1.4rem;
  font-weight: bold;
}
.education-item h3 {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(89, 89, 89);
}
.education-item h4 {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(89, 89, 89);
}

.experience {
  max-width: 100%;
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 15px;
}
.experience h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: center;
  margin-top: 30px;
}
.experienceMain {
  display: flex;
  justify-content: space-around;
  align-items: top;
}
.experience-item {
  margin: 20px 0;
}
.experience-item h2 {
  font-size: 1.6rem;
  font-weight: bold;
}
.experience-item h3 {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(89, 89, 89);
}
.experience-item h4 {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(89, 89, 89);
}
.projects {
  max-width: 100%;
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 15px;
}
.projects h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 25px;
  text-align: center;
  margin-top: 30px;
}
.projectsMain {
  display: flex;
  justify-content: space-around;
  align-items: top;
}
.projects-item {
  margin: 20px 0;
}
.projects-item h2 {
  font-size: 1.6rem;
  font-weight: bold;
}
.projects-item h3 {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(89, 89, 89);
}
.projects-item h4 {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(89, 89, 89);
}
.projects input[type="submit"] {
  width: 100%;
  background-color: #00bcd4;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  margin-top: 20px;
}
.contact {
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact .content {
  max-width: 100%;
  width: 80%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 15px;
  text-align: justify;
}
.contact .content h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.contact .content p {
  font-weight: 300;
  max-width: 100%;
  font-size: 1rem;
  text-align: center;
}
.contact .container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 40px;
}
.contact .container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.contact .container .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}
.contact .container .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: white;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
}
.contact .container .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 20px;
  flex-direction: column;
  font-weight: 300;
}
.contact .container .contactInfo .box .text h3 {
  font-weight: 500;
  color: #00bcd4;
}

.contact .container .contactForm {
  width: 40%;
  padding: 40px;
  background-color: rgb(250, 161, 161);
}
.contact .container .contactForm h2 {
  font-size: 30px;
  font-weight: 500;
}
.contact .container .contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contact .container .contactForm .inputBox input,
.contact .container .contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #00bcd4;
  background-color: transparent;
  outline: none;
  resize: none;
}
.contact .container .contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #000000;
}
.contact .container .contactForm .inputBox input:focus ~ span,
.contact .container .contactForm .inputBox textarea:focus ~ span,
.contact .container .contactForm .inputBox input:valid ~ span {
  color: #00bcd4;
  font-size: 12px;
  transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
}

.contact .container .contactForm .inputBox input[type="submit"] {
  width: 100%;
  background-color: #00bcd4;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.footer-container{
  max-width: 100%;
  width: 80%;
  margin: 0 auto;
  height: auto;
  padding: 20px 0;
}
.footer-container .footer-item {
  max-width: 100%;
  width: 80%;
  margin: 0 auto;
  height: auto;

  
}
 .footer-container .footer-item{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-container .footer-item .social-media, 
.footer-container .footer-item .developer {
  text-align: center;
}
.footer-container .footer-item a{
  color: #00bcd4;
  font-size: 1.2rem;
  margin: 0 8px;

}
.footer-container .footer-item .developer span{
  color: black;
}

hr {
  width: 50%;
  height: 5px;
  border: none;
  background-color: rgb(200, 133, 255);
  border-radius: 5px;
  margin: 0 auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* small screeen and Laptops */

@media (min-width: 769px) and (max-width: 1024px) {
  .nav-item a {
  }
  .hero-text h1 {
    font-size: 2.8rem;
  }
  .hero-text h2 {
    font-size: 2.2rem;
  }
  .contact {
    padding: 50px;
  }
  .introText h1{
    font-size: 3rem;
    font-weight: bold;
  }
  .introText h2{
    font-size: 2.3rem;
  }
  .introText h3{
    font-size: 1.8rem;
  }
  .introText .name{
    font-size: 1.8rem;
  }
  .introText .fullname{
    font-size: 1.8rem;
  }
  .introText h3 #titleChange{
    font-size: 2.3rem;
  }
}

/* Tablets */

@media (min-width: 481px) and (max-width: 768px) {
  body .img {
    width: 100%;
    height: 80%;
  }
  .nav-item a {
    display: flex;
    flex-wrap: wrap;
  }
  .hero {
    height: 70vh;
  }

  .hero-text {
    top: 45%;
    left: 50%;
    transform: translate(-55%, -50%);
    -webkit-transform: translate(-55%, -50%);
    -moz-transform: translate(-55%, -50%);
    -ms-transform: translate(-55%, -50%);
    -o-transform: translate(-55%, -50%);
  }

  .hero-text h1 {
    font-size: 2rem;
  }
  .hero-text h2 {
    font-size: 1.2rem;
  }
  .socials {
    margin-top: 10px;
  }
  .socials a {
    font-size: 1.7rem;
  }
  .about h1 {
    font-size: 2.5rem;
  }
  .aboutMe p {
    text-align: justify;
    font-size: 1.2rem;
  }
  .aboutMe button {
    margin-left: 0;
  }
  .contentSkill {
    flex-direction: column;
  }
  .educationMain {
    flex-direction: column;
  }
  .contact {
    padding: 0px;
  }
  .contact .content h2 {
    font-size: 2.5rem;
  }
  .contact .container {
    flex-direction: column;
    width: 100%;
  }
  .contact .container .contactInfo {
    margin-bottom: 40px;
    max-width: 100%;
    width: 80%;
    margin: 0 auto;
  }
  .contact .container .contactForm {
    margin-bottom: 40px;
    max-width: 100%;
    width: 80%;
    margin: 0 auto;
  }
  .footer-container{
    flex-direction: column;
  }
  .introText h1{
    font-size: 2rem;
    font-weight: bold;
  }
  .introText h2{
    font-size: 1.6rem;
  }
  .introText h3{
    font-size: 1rem;
  }
  .introText .name{
    display: block;
    font-size: 1.8rem;
  }
  .introText .fullname{
    display: none;
    font-size: 1.6rem;
  }
  .introText h3 #titleChange{
    font-size: 1.6rem;
  }
  
}

/* Mobile Phone */

@media (min-width: 320px) and (max-width: 480px) {
  body .img {
    width: 100%;
    height: 80%;
  }

  .hero {
    height: 70vh;
  }

  .hero-text {
    top: 45%;
    left: 50%;
    transform: translate(-55%, -50%);
    -webkit-transform: translate(-55%, -50%);
    -moz-transform: translate(-55%, -50%);
    -ms-transform: translate(-55%, -50%);
    -o-transform: translate(-55%, -50%);
  }

  .hero-text h1 {
    font-size: 1.8rem;
  }
  .hero-text h2 {
    font-size: 1rem;
  }
  .socials {
    margin-top: 10px;
  }
  .socials a {
    font-size: 1.2rem;
  }
  .about h1 {
    font-size: 2.5rem;
  }
  .aboutMe p {
    text-align: justify;
    font-size: 1rem;
  }
  .aboutMe button {
    margin-left: 0;
  }
  .contentSkill {
    flex-direction: column;
  }
  .educationMain {
    flex-direction: column;
  }
  .contact {
    padding: 0px;
  }
  .contact .content h2 {
    font-size: 2.5rem;
  }
  .contact .container {
    flex-direction: column;
    width: 100%;
  }
  .contact .container .contactInfo {
    margin-bottom: 40px;
    max-width: 100%;
    width: 80%;
    margin: 0 auto;
  }
  .contact .container .contactForm {
    margin-bottom: 40px;
    max-width: 100%;
    width: 80%;
    margin: 0 auto;
  }
  .footer-container  .footer-item{
    flex-direction: column;
  }
  .footer-container .footer-item .social-media{
    margin-bottom: 20px;
  }
  .introText h1{
    font-size: 2rem;
    font-weight: bold;
  }
  .introText h2{
    font-size: 1.5rem;
  }
  .introText .name{
    display: block;
    font-size: 1.8rem;
  }
  .introText .fullname{
    display: none;
  }
  .introText h3 #titleChange{
    font-size: 1.6rem;
  }
}

